html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-section{
    border: 1px solid black;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 25px 25px 25px 25px;
}

.login-heading-section, h1 ,h2{
    text-align: center;
}

.login-heading-section, h1 > span{
    color: black;
}

.headings{
       color: #BE2B44;
       font-size: 2em;
}

.sub-headings{
    color: gray;
    font-size: 1em;
}

.login-input-container{
    display: grid;
    gap: 15px;
    width: 17em;
    height: 100%;
}

.input-container{
    display: grid;
    gap: 8px;
}

input[type="text"],input[type="password"]{
    border: 1px #E0E0E0 solid;
    border-radius: 5px 5px 5px 5px;
    height: 2.5em;
    width: 17em;
    padding: 0 25px;

}

.input-style> input:focus{
    outline: none;
    padding: 0 25px;
}

input[type="text"] {
    font-size: 0.8em;
}
input[type="password"] {
    font-size: 0.8em;
}

.input-style{
 position: relative;
}

.input-style>svg{
   position: absolute;
    left: 5px;
    top: 9px;
}

.form-container{
    display: grid;
    justify-content: center;
}

#login-button{
    height: 2.5em;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background: #BE2B44;
    margin-top: 10px;
    color: white;
}

.options-row{
    display: flex;
    justify-content: space-between;
    padding: 0 3px 0 0;
}

.remember-me{
    display: flex;
    gap: 5px;
}

.forgot-password{
    text-decoration: none;
    color: #BE2B44;
}

#registrationLink{
     text-decoration: none;
        color: #BE2B44;
}

/* larger phones*/
@media (min-width: 576px) {

    .login-input-container{
        width: 20em;
    }

    input[type="text"],input[type="password"]{
        width: 21em;

    }

    .input-container>label{
        position: relative;
        left: 1.5px;
    }

    #login-button{
        margin-top: 20px;
    }


}
/* tablets*/
@media (min-width: 768px) {

    .login-section{
        display: grid;
        justify-content: center;
    }

    .login-input-container{
            width: 30em;
            display: grid;
            justify-items: center;
        }

        input[type="text"],input[type="password"]{
            width: 30em;

        }

        .input-container>label{
            position: relative;
            left: 1.5px;
        }

        #login-button{
            margin: 20px 20px 0 20px;

        }

        .options-row{
            width: 92%;
            display: flex;
            justify-items: space-between;
            padding: 0 30px 0 30px;
        }
}

