.login-section{
    border: 1px solid black;
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 10px 10px;
}

.login-heading-section, h1 ,h2{
    text-align: center;
}

.login-heading-section, h1 > span{
    color: black;
}

.headings{
       color: red;
       font-size: 2em;
}

.sub-headings{
    color: gray;
    font-size: 1em;
}

.login-input-container{
    border: 1px red solid;
    display: grid;
    gap: 15px;
    width: 17em;
    height: 100%;
}

.input-container{
    display: grid;

}

input{
    border: 1px #E0E0E0 solid;
    border-radius: 5px 5px 5px 5px;
    height: 2.5em;
    width: 17em;
    padding: 0 25px;

}

.input-style> input:focus{
    outline: none;
    padding: 0 25px;
}

input[type="text"] {
    font-size: 0.8em;
}
input[type="password"] {
    font-size: 0.8em;
}

.input-style{
 position: relative;
}

.input-style>svg{
   position: absolute;
    left: 5px;
    top: 9px;
}